*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.seqtion{
    display: flex;
    height: 100vh;
    height: 100%;
    justify-content: center;
}
.coffeeCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1100px;
    margin: 10px auto;
    padding: 20px;
    gap:20px;
    background-color: #fdf6f0
}
.card{
    display: flex;
    flex-direction: column;
    gap:20px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}
.cardImg{
    width: 100%;
    height: 200px;
}
.cardImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardTitle{
    font-size: 26px;
    line-height: 25px;
    font-weight: bold;
    text-align: left;
    color: #4a2e25;
}
span{

font-weight: bold;
color: #242424;
}

.cardContent{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}
.buttonSection{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:0 10px 10px;
}
.buttonstyle,
.validationButton {
    display: inline-block;
    padding: 5px 15px;
    color: white;
    border-radius:10px ;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.collorLightBouwn{
    background-color:#6f4439 ;
}

.collorbrown{
    background-color:#8f6b5b ;
}
.collorRead{
    background-color: #e15747;
}
.buttongap{
    display: flex;
    gap:5px;
}


/* form-ის სტილები */

.formsecton{
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0px auto;
    gap: 20px;
    border-radius: 15px;
    background-color: white;
    padding: 30px 20px;
    
}
.formsecton button{
    width: 120px;
    padding: 10px;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 500;
}
.formSection1,
.formSection3{
    display: flex;
    justify-content: space-between;
    width: 100%;
  
}
.formsecton input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(175, 170, 170);
}
.formSection1 input,
.formSection3 input {
    width: 400px;
}
.formSection2 input{
    min-height: 130px;
    padding: 0 10px;
}
.ingredientsSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130px;
    border-radius: 10px;
    border: 1px solid rgb(175, 170, 170);
    margin-bottom: 10px;
}


/* admin page */
.adminPage{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100%;
    
}
.outletSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: #fdf6f0;
}

.sidbarsection{
    display: flex;
    width: 250px;
}

/* sidbar style */
.sidebar{
    display: flex;
    flex-direction: column;
    gap:20px ;
    height: 100%;
    width:500px ;
    background-color: #785449 ;
}
.sidbarContant{
    display: flex;
    flex-direction: column;
    padding: 45px 20px;
    border-bottom:0.1px  solid #968888;
    gap:10px;

}
.sidbarTitle{
    text-align: center;
    color: white;
    letter-spacing: 2px;

}
.navSidbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px ;
}
.navButuon{
    color: white;
    letter-spacing: 2px;
    padding: 10px 0 10px 20px;

}
.navButuon:hover{
    background-color: #8f6b5b;
}

.dashboardheader{
   display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 10px auto;
    padding: 20px;
    color: #8f6b5b;
    border-bottom:0.1px  solid #b9acac;
    align-items: center; 
}
.manage{
    width: 150px !important;
    
}


/* validation Page */
.validationPage {
    background-image: url("../src/assets/coffee.jpeg"); 
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100vw;
}

.validationInpute{
    position: absolute;
    width: 450px;
    background-color:transparent;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.validationInpute input{
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 70%;
    background-color: rgb(214, 218, 195);;
}
.validationInpute h2{

    color: rgb(214, 218, 195);
}
.validationButton{
    padding: 10px 20px;
    color: #242424;
    font-weight: bolder;
    font-size: 13px;
    width: 150px;
    background-color: rgb(214, 218, 195);;
}
.selectstyle{
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(175, 170, 170);
}

/* ///---/// */
 .tableWrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  background-color: white;
  margin: 20px;
  
}
.tableHeader {
  display: flex;
  padding: 14px 16px;
  background-color: #6e4b3a; 
  color: white;
  font-weight: 600;
  padding: 20px;
}

.tableRow {
  display: flex;
  padding: 14px 16px;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #eee;
  color: #333;
}

.cell {
  flex: 1;
  padding: 6px 12px;
  font-size: 14px;

}

.cell:last-child {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}


.btn {
  padding: 10px 10px;
  border: none;
  border-radius: 6px;
  font-weight: 700px;
  font-size: 13px;
  cursor: pointer;
  color: white;
}


.view {
  background-color: #a0745f;
}

.edit {
  background-color: #6b4e42;
}

.delete {
  background-color: #e74c3c;
}
























.cardContent{
    display: flex;
    width: 250px;
    padding: 10px;
    gap: 10px;
}
.pStyyle{
    color: #242424;
}


.pStyyle {
    padding: 8px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.selected {
    background-color: #e0c9a6;
    font-weight: bold;
}
.schwarz{
    color: #242424;
}




.baskitImg{
    position: relative;
    cursor: pointer;

}
.basketCount {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}
    
